<%- include("partials/header.ejs") %>


  <h1>To Do List</h1>

  <h3>Create Your own list of tasks you need to complete today. Make a list and view them any time of the day.
    As soon as you complete the task, check the box next to it to keep track of the completed tasks and the remaining ones.

  </h3>
  <h3>
    You can also categorise your tasks as either Daily tasks or Work related tasks.</h3>

  <%- include("partials/footer.ejs") %>